.u-section-1 .u-sheet-1 {
  min-height: 707px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 72px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 406px;
  margin-top: 47px;
  margin-bottom: 3px;
  grid-gap: 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 100%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-gallery-1 {
    height: 333px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-gap: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    height: 792px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1527px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1820px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1159px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 685px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 90px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 35px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-2 .u-line-2 {
  width: 340px;
  height: 3px;
  margin: 63px auto 37px 400px;
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 65px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 380px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 44px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 29px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 660px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 456px;
  width: 370px;
  margin: 51px 46px 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -353px 452px 60px 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 288px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.3333333333333333rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -59px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 426px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -856px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 555px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-1 {
  height: 456px;
  width: 370px;
  margin: 0 39px 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -391px 448px 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1535px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 1079px;
    margin-bottom: -299px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 288px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    margin-bottom: -1px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.3333333333333333rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 628px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -1084px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 555px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-1 {
  height: 456px;
  width: 370px;
  margin: 0 46px 0 auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -295px 442px 60px 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-right: 288px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.3333333333333333rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 264px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -720px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 556px;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-1 {
  height: 456px;
  width: 370px;
  margin: 0 46px 0 auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -315px 442px 60px 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: 288px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.3333333333333333rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 322px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-carousel-indicators-1 {
    bottom: 9px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -778px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 556px;
  margin-bottom: 0;
}

.u-section-7 .u-gallery-1 {
  height: 456px;
  width: 370px;
  margin: 0 46px 0 auto;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -315px 442px 60px 46px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-carousel-item-1 {
    margin-bottom: 0;
  }

  .u-section-7 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: 288px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.3333333333333333rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 47px;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: 368px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -778px;
    margin-bottom: -251px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1262px;
}

.u-section-8 .u-line-1 {
  width: 340px;
  margin: 41px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1086px;
  margin: 80px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 1008px;
}

.u-section-8 .u-container-layout-1 {
  padding: 1px 0 0;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 40px 30px 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  margin: 60px auto 0 160px;
  padding: 0;
}

.u-section-8 .u-icon-1 {
  margin-right: 15px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  font-size: 1.5rem;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-8 .u-icon-2 {
  margin-right: 15px;
}

.u-section-8 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: linear-gradient(#77aad9, #297aff);
  --active-color-var: #c200ff;
  margin: 85px auto 0 83px;
  padding: 8px 56px 8px 55px;
}

.u-section-8 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: linear-gradient(#77aad9, #297aff);
  --active-color-var: #ff70a1;
  margin: -41px auto 0 285px;
  padding: 8px 28px 8px 27px;
}

.u-section-8 .u-btn-5 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: linear-gradient(#77aad9, #297aff);
  --active-color-var: #2cccc4;
  margin: 22px auto 0 285px;
  padding: 8px 51px 8px 49px;
}

.u-section-8 .u-btn-6 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: linear-gradient(#77aad9, #297aff);
  --hover-color-var: #88ed26;
  --active-color-var: #000000;
  margin: -41px auto 0 83px;
  padding: 8px 30px 8px 29px;
}

.u-section-8 .u-btn-7 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: linear-gradient(#77aad9, #297aff);
  --active-color-var: #2cccc4;
  margin: 22px auto 0 83px;
  padding: 8px 33px 8px 32px;
}

.u-section-8 .u-btn-8 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: linear-gradient(#77aad9, #297aff);
  --active-color-var: #2cccc4;
  margin: -41px auto 0 285px;
  padding: 8px 31px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 85px 30px 0 63px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 1068px;
}

.u-section-8 .u-text-3 {
  font-weight: 500;
  margin: 41px 12px 0;
}

.u-section-8 .u-map-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 54px;
  margin-bottom: 0;
  height: 850px;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  margin: 30px 12px 0;
}

.u-section-8 .u-icon-3 {
  margin-right: 6px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 872px;
  }

  .u-section-8 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 87px;
  }

  .u-section-8 .u-btn-3 {
    font-size: 0.9375rem;
    margin-left: 10px;
  }

  .u-section-8 .u-btn-4 {
    font-size: 0.9375rem;
    margin-left: 212px;
  }

  .u-section-8 .u-btn-5 {
    font-size: 0.9375rem;
    margin-left: 212px;
  }

  .u-section-8 .u-btn-6 {
    font-size: 0.9375rem;
    margin-left: 10px;
  }

  .u-section-8 .u-btn-7 {
    font-size: 0.9375rem;
    margin-left: 10px;
  }

  .u-section-8 .u-btn-8 {
    font-size: 0.9375rem;
    margin-left: 212px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-8 .u-layout-cell-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 924px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 55px;
    margin-right: 48px;
    margin-left: 48px;
  }

  .u-section-8 .u-map-1 {
    margin-top: -13px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-4 {
    margin-left: 102px;
  }

  .u-section-8 .u-btn-5 {
    margin-left: 102px;
  }

  .u-section-8 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-8 {
    margin-left: 102px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-8 .u-map-1 {
    margin-top: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1839px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-8 .u-text-1 {
    font-weight: 600;
  }

  .u-section-8 .u-btn-1 {
    padding-left: 68px;
    padding-right: 68px;
  }

  .u-section-8 .u-btn-2 {
    padding-left: 62px;
    padding-right: 62px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: 40px;
    margin-left: 16px;
    padding-right: 44px;
    padding-left: 42px;
  }

  .u-section-8 .u-btn-4 {
    margin-top: -37px;
    margin-right: 16px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 19px;
  }

  .u-section-8 .u-btn-5 {
    margin-top: 18px;
    margin-left: 190px;
    padding-right: 39px;
    padding-left: 38px;
  }

  .u-section-8 .u-btn-6 {
    margin-top: -37px;
    margin-left: 16px;
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-8 .u-btn-7 {
    margin-top: 18px;
    margin-left: 16px;
    padding-right: 24px;
    padding-left: 23px;
  }

  .u-section-8 .u-btn-8 {
    margin-top: -37px;
    margin-right: 16px;
    margin-left: auto;
    padding-right: 23px;
    padding-left: 22px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 1041px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-map-1 {
    margin-top: 60px;
    height: 793px;
  }
}